@keyframes growOut {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes growIn {
  from {
    display: flex;
    justify-content: space-around;
    align-items: center;
    opacity: 1;
    transform: none;
  }

  to {
    display: none;
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
}
